<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form th:action="@{/bidList/update/{id}(id=${bidList.id})}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Bid, there are 2 buttons: Update data and Cancel to the list Bid
			 -->
			<div class="form-group">
				<label for="account">Account</label>
				<input type="text" name="account" th:field="*{account}" class="form-control" id="account" aria-describedby="account">
				<p th:if="${#fields.hasErrors('account')}" th:errorclass="error" th:errors="*{account}"></p>
			</div>
			<div class="form-group">
				<label for="type">Type</label>
				<input type="text" name="type" th:field="*{type}" class="form-control" id="type" aria-describedby="type">
				<p th:if="${#fields.hasErrors('type')}" th:errorclass="error" th:errors="*{type}"></p>
			</div>
			<div class="form-group">
				<label for="bidQuantity">Bid quantity</label>
				<input type="text" name="bidQuantity" th:field="*{bidQuantity}" class="form-control" id="bidQuantity" aria-describedby="bidQuantity">
				<p th:if="${#fields.hasErrors('bidQuantity')}" th:errorclass="error" th:errors="*{bidQuantity}"></p>
			</div>
			<div class="form-group">
				<label for="askQuantity">Ask quantity</label>
				<input type="text" name="askQuantity" th:field="*{askQuantity}" class="form-control" id="askQuantity" aria-describedby="askQuantity">
				<p th:if="${#fields.hasErrors('askQuantity')}" th:errorclass="error" th:errors="*{askQuantity}"></p>
			</div>
			<div class="form-group">
				<label for="bid">Bid</label>
				<input type="text" name="bid" th:field="*{bid}" class="form-control" id="bid" aria-describedby="bid">
				<p th:if="${#fields.hasErrors('bid')}" th:errorclass="error" th:errors="*{bid}"></p>
			</div>
			<div class="form-group">
				<label for="ask">Ask</label>
				<input type="text" name="ask" th:field="*{ask}" class="form-control" id="ask" aria-describedby="ask">
				<p th:if="${#fields.hasErrors('ask')}" th:errorclass="error" th:errors="*{ask}"></p>
			</div>
			<div class="form-group">
				<label for="benchmark">Benchmark</label>
				<input type="text" name="benchmark" th:field="*{benchmark}" class="form-control" id="benchmark" aria-describedby="benchmark">
				<p th:if="${#fields.hasErrors('benchmark')}" th:errorclass="error" th:errors="*{benchmark}"></p>
			</div>
			<div class="form-group">
				<label for="bidListDate">bidListDate</label>
				<input type="date" name="bidListDate" th:field="*{bidListDate}" class="form-control" id="bidListDate" aria-describedby="bidListDate">
				<p th:if="${#fields.hasErrors('bidListDate')}" th:errorclass="error" th:errors="*{bidListDate}"></p>
			</div>
			<div class="form-group">
				<label for="commentary">commentary</label>
				<input type="text" name="commentary" th:field="*{commentary}" class="form-control" id="commentary" aria-describedby="commentary">
				<p th:if="${#fields.hasErrors('commentary')}" th:errorclass="error" th:errors="*{commentary}"></p>
			</div>
			<div class="form-group">
				<label for="security">security</label>
				<input type="text" name="security" th:field="*{security}" class="form-control" id="security" aria-describedby="security">
				<p th:if="${#fields.hasErrors('security')}" th:errorclass="error" th:errors="*{security}"></p>
			</div>
			<div class="form-group">
				<label for="status">status</label>
				<input type="text" name="status" th:field="*{status}" class="form-control" id="status" aria-describedby="type">
				<p th:if="${#fields.hasErrors('status')}" th:errorclass="error" th:errors="*{status}"></p>
			</div>
			<div class="form-group">
				<label for="trader">trader</label>
				<input type="text" name="trader" th:field="*{trader}" class="form-control" id="trader" aria-describedby="trader">
				<p th:if="${#fields.hasErrors('trader')}" th:errorclass="error" th:errors="*{trader}"></p>
			</div>
			<div class="form-group">
				<label for="book">book</label>
				<input type="text" name="book" th:field="*{book}" class="form-control" id="book" aria-describedby="book">
				<p th:if="${#fields.hasErrors('book')}" th:errorclass="error" th:errors="*{book}"></p>
			</div>
			<div class="form-group">
				<label for="creationName">creationName</label>
				<input type="text" name="creationName" th:field="*{creationName}" class="form-control" id="creationName" aria-describedby="creationName">
				<p th:if="${#fields.hasErrors('creationName')}" th:errorclass="error" th:errors="*{creationName}"></p>
			</div>
			<div class="form-group">
				<label for="creationDate">creationDate</label>
				<input type="text" name="creationDate" th:field="*{creationDate}" class="form-control" id="creationDate" aria-describedby="creationDate">
				<p th:if="${#fields.hasErrors('creationDate')}" th:errorclass="error" th:errors="*{creationDate}"></p>
			</div>
			<div class="form-group">
				<label for="revisionName">revisionName</label>
				<input type="text" name="revisionName" th:field="*{revisionName}" class="form-control" id="revisionName" aria-describedby="revisionName">
				<p th:if="${#fields.hasErrors('revisionName')}" th:errorclass="error" th:errors="*{revisionName}"></p>
			</div>
			<div class="form-group">
				<label for="revisionDate">revisionDate</label>
				<input type="text" name="revisionDate" th:field="*{revisionDate}" class="form-control" id="revisionDate" aria-describedby="revisionDate">
				<p th:if="${#fields.hasErrors('revisionDate')}" th:errorclass="error" th:errors="*{revisionDate}"></p>
			</div>
			<div class="form-group">
				<label for="dealName">dealName</label>
				<input type="text" name="dealName" th:field="*{dealName}" class="form-control" id="dealName" aria-describedby="dealName">
				<p th:if="${#fields.hasErrors('dealName')}" th:errorclass="error" th:errors="*{dealName}"></p>
			</div>
			<div class="form-group">
				<label for="dealType">dealType</label>
				<input type="text" name="dealType" th:field="*{dealType}" class="form-control" id="dealType" aria-describedby="dealType">
				<p th:if="${#fields.hasErrors('dealType')}" th:errorclass="error" th:errors="*{dealType}"></p>
			</div>
			<div class="form-group">
				<label for="sourceListId">sourceListId</label>
				<input type="text" name="sourceListId" th:field="*{sourceListId}" class="form-control" id="sourceListId" aria-describedby="sourceListId">
				<p th:if="${#fields.hasErrors('sourceListId')}" th:errorclass="error" th:errors="*{sourceListId}"></p>
			</div>
			<div class="form-group">
				<label for="side">side</label>
				<input type="text" name="side" th:field="*{side}" class="form-control" id="side" aria-describedby="side">
				<p th:if="${#fields.hasErrors('side')}" th:errorclass="error" th:errors="*{side}"></p>
			</div>
			<button type="submit" class="btn btn-primary">Update data</button>
			<button type="submit" formaction="/bidList/list" class="btn btn-primary">Cancel</button>

		</form>
	</div>

</div>
</body>
</html>